*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/**** CONTENEDOR LOG ****/
.log__container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}